:root {

    /* colors */
    --first-color: #F8F8F8;
    --second-color: #0A0A0A;
    --third-color: #EEEEEE;
    --fourth-color: #0E43FF;

    /* fonts */
    --first-font: 'Inter', sans-serif;
    --second-font: 'K2D', sans-serif;
    --third-font: 'Bad Script', cursive;
}

/* Global */
* {
    background-color: var(--first-color);
    box-sizing: border-box;
    color: var(--second-color);
}

a {
    text-decoration: none;
}

.titles {
    font-family: var(--second-font);
    font-size: 3.2rem;
    font-weight: 700;
}

.text {
    font-family: var(--first-font);
    font-size: 1.35rem;
    font-weight: 300;
}

/* Desktop Media */

/* Navbar */

.btn-menu {
    display: none;
    animation: slideLeft 2s ease forwards;
}

.header {
    align-items: center;
    background: var(--first-color);
    display: flex;
    font-family: var(--second-font);
    font-weight: 700;
    height: 4.6875rem;
    justify-content: space-between;
    margin: 1rem 1rem;
    padding: 2rem 3rem;
}

.menu {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

.menu a {
    display: block;
    padding: 0.188rem 0;
}

.nav_link {
    border-bottom: 2px solid var(--fourth-color);
    font-size: 1.25rem;
    margin: 1rem;
    padding: 0.188rem;
    animation: slideTop 1s ease forwards;
}

.nav_link:hover {
    transform: scale(1.05);
    transition: 1s;
}

.nav_logo {
    width: 4rem;
    margin-top: 15px;
    opacity: 0;
    animation: slideDown 1.5s ease forwards;
}

/* .nav_logo:hover {
    transform: rotate(360deg) scale(1.1);
    transition: 1s;
} */

/* Main */
.share_section {
    display: flex;
    gap: 4rem;
    justify-content: space-around;
    margin: 3rem 3.5rem;
}

.thank {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.thank_subtitle,
.thank_text {
    font-family: var(--first-font);
    font-size: 1.35rem;
    font-style: oblique 10deg;
    font-weight: 200;
}

.thank_subtitle {
    animation: slideRight 1s ease forwards;
    opacity: 0;
    animation-delay: .7s;
}

.thank_text {
    animation: slideRight 1s ease forwards;
    opacity: 0;
    animation-delay: 1.2s;
}

.thank_text {
    margin-top: 2rem;
}

.share_buttons {
    align-items: center;
    font-family: var(--second-font);
    display: flex;
    gap: 1rem;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
}


.thank_title {
    font-family: var(--second-font);
    font-size: 4rem;
    font-weight: 400;
    opacity: 0;
    animation: slideDown 1s ease forwards;
}

/* Share Buttons */
.cv_btn {
    align-items: center;
    background-color: var(--fourth-color);
    border: none;
    border-radius: 9px;
    color: var(--first-color);
    cursor: pointer;
    display: flex;
    font-family: var(--first-font);
    font-size: 1rem;
    font-weight: 300;
    gap: 0.5rem;
    padding: 0.7rem 2rem;
    transition: 0.5s;
}

.cv_btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.cv_btn-icon {
    background-color: transparent;
    width: 1.5rem;
}

.linkedin_btn {
    width: 2.9rem;
}

.linkedin_btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.me_photo-left {
    max-width: 35vw;
    max-height: 68vh;
}

.know_more {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--second-font);
    font-size: 1.2rem;
    justify-content: flex-end;
    margin-top: 3rem;
}

/* about me section */

.aboutme_section {
    display: flex;
    gap: 1rem;
    background-color: var(--third-color);
    padding: 1rem 2rem 0 2rem;
    margin-top: 5rem;
}

.me_photo-front {
    width: 15vw;
    min-width: 15rem;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    background-color: var(--third-color);
    opacity: 0;
    animation: zoomIn 1.5s ease forwards;
}

.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    background-color: var(--third-color);
    padding: 1rem 0;
}

.aboutme_title,
.aboutme_text {
    background-color: inherit;
    padding: 1rem;
}

.aboutme_text {
    margin-left: 0.8rem;
}

.arrow {
    margin-top: 3rem;
    text-align: center;
    animation: toggle 1.5s ease infinite;
}

/* occupation section */

.occupation_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    margin: 14vh 0;
}

.occupation_title {
    margin-inline: 1rem;
    text-align: center;
}

.occupation_text,
.occupation_studies,
.thrive {
    text-align: center;
    margin-inline: 2rem;
}

.ifood {
    color: red;
    transform: skew(-8deg);
    display: inline-block;
}

.thrive {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 3rem;
}

.thrive_image {
    width: 60%;
    height: auto;
}

.thrive_image:hover {
    transform: scale(1.01);
    transition: 0.5s;
}

/* hobby section */

.hobby_section {
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 1rem 0;
}

.hobby,
.hobby_title,
.hobby_text,
.hobby_image {
    background-color: inherit;
}

.hobby {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0 3rem 3rem;
}

.hobby_title {

    margin-left: 2rem;
    margin-bottom: 2rem;
}

.hobby_text {
    margin-left: 1rem;
}

.hobby_image {
    max-width: 50%;
    height: auto;
    background-color: inherit;
}

/* future section */

.future_section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.future_title {
    padding: 2.5rem;
    margin-top: 13vh;
}

.future_text {
    margin-inline: 3rem;
}

.phrase {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    text-align: left;
}

.phrase_text {
    font-family: var(--third-font);
    font-size: 1.7rem;
    text-align: center;
}

.phrase_reference {
    font-family: var(--first-font);
    font-size: 1.2rem;
    align-self: flex-end;
    margin-top: 1rem;
    margin-right: 2rem;
}

.line_break {
    width: 94%;
}

/* contact section */

.contact_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 10vh 0;
    padding: 0 6rem;
}

.contact_title {
    margin-inline: 1rem;
}

.contact_text {
    margin-inline: 2.5rem;
}

.contact_list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact_item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-inline: 3.5rem;
}

.contact_icon {
    width: 2.3rem;
    margin-top: 0.5rem;
}

.contact_icon:hover {
    transform: scale(1.4);
    transition: 0.5s;
}

.LinkedIn_icon-black {
    margin-left: 2px;
}

/* footer section */

.footer_section {
    display: flex;
    background-color: var(--third-color);
    border-top: 1px solid #D3D3D3;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 2rem 0.5rem 2rem;
}

.mention {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
}

.mention_list {
    background-color: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.mention_item,
.mention_text {
    background-color: var(--third-color);
    margin-top: 0.2rem;
}

.mention_link {
    background-color: var(--third-color);
    text-decoration: underline;
}

.mention_ghc {
    width: 4rem;
    background-color: inherit;
}

.created_by {
    background-color: inherit;
    text-align: center;
}


/* tablet media */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .titles {
        font-size: 2.5rem;
    }

    /*  share section */

    .share_section {
        align-items: center;
        gap: 3rem;
        margin: 2rem 3.5rem;
    }

    .thank_title {
        font-size: 3rem;
    }

    .thank_text {
        margin-top: 0;
    }

    .me_photo-left {
        width: 45%;
    }

    /* aboutme section */

    .aboutme {
        gap: 0;
    }

    /* future section */

    .phrase_text {
        font-size: 1.5rem;
    }

    /* mention section */

    .mention {
        flex-direction: column-reverse;
        align-items: center;
    }

    .mention_list {
        gap: 0.2rem;
        margin-top: 1rem;
    }

    .mention_item {
        text-align: center;
    }
}

/* cellphone media */

@media screen and (min-width: 386px) and (max-width: 768px) {

    .titles {
        font-size: 2.5rem;
    }

    .text {
        font-size: 1.3rem;
    }

    /* header section */

    .header {
        padding: 2rem 1.5rem;
    }

    .menu {
        display: block;
        position: absolute;
        top: 7.5rem;
        left: 0;
        background: var(--first-color);
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(204, 22, 22, 0.16);
        border-radius: 0;
    }

    .menu a:hover {
        background: var(--third-color);
    }


    .nav_logo {
        width: 5rem;
        margin-top: 27px;
    }

    .nav_link {
        font-size: 1.5rem;
        opacity: 0;
    }

    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--white);
        padding: 1rem 0;
        cursor: pointer;
        display: flex;

    }

    .hamburger {
        border-top: 0.3rem solid;
        width: 3rem;
        height: 0.125rem;
    }

    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 3rem;
        height: 0.3rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .nav.active .menu {
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .nav.active .hamburger {
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -0.6rem;
    }

    /* main */

    .share_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2remrem;
    }

    .thank {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .thank_title {
        font-size: 2.8rem;
        text-align: center;
    }

    .thank_subtitle,
    .thank_text {
        margin-top: 1.2rem;
        text-align: center;
    }

    .me_photo-left {
        max-width: 70vw;
        min-height: auto;
    }

    /* aboutme section */

    .aboutme {
        gap: 0;
    }

    .aboutme_section {
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }

    .aboutme_text,
    .hobby_text {
        margin-left: 0;
    }

    /* occupation section */

    .thrive {
        flex-direction: column;
        margin-top: 2rem;
    }

    .thrive_image {
        width: 80%;
    }

    /* hobby section */

    .hobby_section {
        flex-direction: column;
        text-align: center;
        align-items: flex-end;
        gap: 3rem;
    }

    .hobby {
        padding: 0;
    }

    .hobby_text {
        margin-inline: 2rem;
    }

    .hobby_image {
        max-width: 75%;
        max-height: 45vh;
        margin-right: 1rem;
    }

    /* future_section */

    .phrase {
        padding: 1.7rem;
        align-items: center;
    }

    /* contact section */

    .contact_section {
        padding: 0 3rem;
    }

    .contact_text,
    .contact_title {
        margin-inline: 0;
    }

    .contact_item {
        margin-inline: 1rem;
    }

    /* footer */

    .mention {
        flex-direction: column-reverse;
        align-items: center;
    }

    .mention_list {
        gap: 0.2rem;
        margin-top: 1rem;
    }

    .mention_item {
        text-align: center;
    }
}

/* cellphone small media */

@media screen and (max-width: 386px) {
    .titles {
        font-size: 2.5rem;
    }

    .text {
        font-size: 1.3rem;
    }

    /* header section */

    .header {
        padding: 2rem 1.5rem;
    }

    .menu {
        display: block;
        position: absolute;
        top: 7.5rem;
        left: 0;
        background: var(--first-color);
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(204, 22, 22, 0.16);
        border-radius: 0;
    }

    .menu a:hover {
        background: var(--third-color);
    }


    .nav_logo {
        width: 4rem;
        margin-top: 27px;
    }

    .nav_link {
        font-size: 1.5rem;
    }

    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--white);
        padding: 1rem 0;
        cursor: pointer;
        display: flex;
    }

    .hamburger {
        border-top: 0.3rem solid;
        width: 2.8rem;
        height: 0.125rem;
    }

    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 2.8rem;
        height: 0.3rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .nav.active .menu {
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .nav.active .hamburger {
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -0.6rem;
    }

    /* main */

    .share_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .thank {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .thank_title {
        font-size: 2.8rem;
        text-align: center;
    }

    .thank_subtitle,
    .thank_text {
        margin-top: 1rem;
        text-align: center;
        font-size: 1.4rem;
    }

    .me_photo-left {
        max-width: 75vw;
    }

    /* aboutme section */

    .aboutme {
        gap: 0;
    }

    .aboutme_section {
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }

    .aboutme_text {
        margin-left: 0;
    }

    /* occupation section */

    .thrive {
        flex-direction: column;
        margin-top: 2rem;
    }

    .thrive_image {
        width: 80%;
    }

    /* hobby section */

    .hobby_section {
        flex-direction: column;
        text-align: center;
        align-items: flex-end;
        gap: 3rem;
    }

    .hobby {
        padding: 0;
    }

    .hobby_text {
        margin-left: 0;
        margin-inline: 2rem;
    }

    .hobby_image {
        max-width: 75%;
        max-height: 45vh;
        margin-right: 1rem;
    }

    /* future_section */

    .phrase {
        padding: 1.7rem;
    }

    .phrase_reference {
        margin-right: 0;
        margin-top: 1.5rem;
        align-self: flex-end;
        font-size: 1rem;
    }

    .contact_section {
        padding: 0 3rem;

    }

    .contact_text,
    .contact_title {
        margin-inline: 0;

    }

    .contact_item {
        margin-inline: 1rem;
        flex-direction: column;
        gap: 0.5rem;
    }

    /* footer */

    .mention {
        flex-direction: column-reverse;
        align-items: center;
    }

    .mention_list {
        gap: 0.2rem;
        margin-top: 1rem;
    }

    .mention_item {
        text-align: center;
    }

    .mention_text {
        line-height: 20px;
    }

}

/* Keyframes */

@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }


}

@keyframes slideTop {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


@keyframes toggle {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}